version: "3"
services:

  broker:
    image: confluentinc/cp-kafka:7.4.1
    hostname: broker-host
    container_name: broker
    ports:
      - 9092:9092
      - 9101:9101
    environment:
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_AUTO_CREATE_TOPICS_NUM_PARTITIONS: 1
      KAFKA_AUTO_CREATE_TOPICS_REPLICATION_FACTOR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker:29092,PLAINTEXT_HOST://broker-host:9092'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://broker-host:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'
      # Replace CLUSTER_ID with a unique base64 UUID using "bin/kafka-storage.sh random-uuid" 
      # See https://docs.confluent.io/kafka/operations-tools/kafka-tools.html#kafka-storage-sh
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
    networks:
      - my-network

  producer:
    container_name: producer   
    depends_on:
      - broker 
    build:
      context: ./simpleserialize-producer
      dockerfile: Dockerfile.producer
    networks:
      - my-network

  schema-registry:
    image: confluentinc/cp-schema-registry:7.4.1
    hostname: schema-registry-host
    container_name: schema-registry
    depends_on: 
      - broker
    ports: 
      - 8079:8079
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker:29092'
      SCHEMA_REGISTRY_LISTENERS: http://schema-registry-host:8079
    networks:
      - my-network

  control-center:
    image: confluentinc/cp-enterprise-control-center:7.4.1
    hostname: control-center
    container_name: control-center
    depends_on:
      - broker
      - schema-registry
    ports: 
      - 9021:9021
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: 'broker:29092'
      CONTROL_CENTER_REPLICATION_FACTOR: 1
      CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
      CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
      CONFLUENT_METRICS_TOPIC_REPLICATION: 1
      PORT: 9021
    networks:
      - my-network
      
  database:
    hostname: database
    container_name: database-host
    restart: always
    ports: 
      - 5432:5432
    build: 
      context: ./database
      dockerfile: Dockerfile.database
    environment:
      DATABASE_NAME: newses
      DATABASE_USER: crawler
      DATABASE_PASSWORD: 1111
    volumes: 
      - my_postgres_data:/var/lib/postgresql/data
    networks:
      - my-network

  jobmanager:
    hostname: jobmanager-host
    container_name: jobmanager
    image: flink:1.17-scala_2.12
    depends_on:
      - broker
      - database
    ports: 
      - 8081:8081
    command: standalone-job --job-classname com.example.sharov.anatoliy.simpleserialize.flink.DataStreamJob 
    volumes: 
      - ./simpleserialize-consumer-flink-postgresql/build/libs/simpleserialize-consumer-flink-postgresql-0.1-SNAPSHOT-all.jar:/opt/flink/usrlib/my_api.jar
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager-host
        parallelism.default: 2   
    networks:
      - my-network

  taskmanager:
    hostname: taskmanager-host
    container_name: taskmanager
    image: flink:1.17-scala_2.12
    depends_on: 
      - jobmanager
    command: taskmanager
    scale: 1
    volumes: 
      - ./simpleserialize-consumer-flink-postgresql/build/libs/simpleserialize-consumer-flink-postgresql-0.1-SNAPSHOT-all.jar:/opt/flink/usrlib/my_api.jar
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager-host
        taskmanager.numberOfTaskSlots: 2
        parallelism.default: 2 
    networks:
      - my-network
      
networks:
  my-network:
    driver: bridge        

volumes:
  my_postgres_data:
  
